.car{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50vh;
  .product{
    width: 100%;
    text-align: center;
    margin: 10px 0;
    height: 30px;
    font:normal 20px/30px 'Microsoft Yahei';
    cursor: pointer;
    .add,.reduce{
      float: right;
      width: 80px;
      height: 30px;
      background-color: cornflowerblue;
      color: black;
      margin-right: 10px;
      cursor: pointer;
      &:hover{
        background-color: #3477ed;
      }
    }
  }
  .total{
    position: absolute;
    right: 40px;
    bottom: 0;
    height: 80px;
    text-align: center;
    line-height: 80px;
  }
}
