*{
  -ms-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  -webkit-overflow-scrolling: touch; // 滚动更流畅
  -webkit-touch-callout:none; //系统默认菜单被禁用
  -webkit-tap-highlight-color: transparent;   //去掉点击闪动
  -ms-touch-action: manipulation; //ie10去掉点击触发延迟
  touch-action: manipulation; //ie11去掉点击触发延迟
  word-wrap: break-word;  //使英文和数字自动换行
  margin: 0; // 1
  padding: 0;
  list-style: none;
  font-style: normal;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}
/*  Structure
   ========================================================================== */
html {
  height: 100%;
  box-sizing: border-box;
  *:after {
    box-sizing: inherit;
  }
}
body {
  min-height: 100%;
  margin: 0;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #000;
  font-family: 'Microsoft Yahei';
  background: #f2f2f2;
  font-size: 16px;
}
/*  Fluid Media
   ========================================================================== */
audio,
img,
svg,
object,
embed,
canvas,
video,
iframe {
  max-width: 100%;
  height: auto;
  font-style: italic;
  vertical-align: top;
}
a{
  text-decoration: none;
}
.fl{float: left;}
.fr{float: right;}
.clearfix{float: none;clear: both;}
.clearfix:after,
.fl:after ,
.fr:after {
  clear:both;
  content:'\0020';
  display:block;
  height:0;
}
.noselect{
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select:none;
  -khtml-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
.text_overflow{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

