@charset "utf-8";
.home{
  background: #fff;
  .el-header, .el-footer {
    background-color: #B3C0D1;
    line-height: 60px;
  }
  .el-header{
    position: fixed;
    top: 0;
    width: 100%;
  }
  .box{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 60px;
    width: 100%;
  }
}

